.memory-card {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  .front,
  .back {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgb(193, 193, 193);
    border-radius: 8px;
    &:hover {
      box-shadow: 0 0 10px rgb(196, 196, 196);
    }
  }
  .back {
    background-size: cover;
  }
  .front {
    background-size: contain;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-fresh-fruit-collection_23-2148967300.jpg?w=2000);
  }
}
